<div class="row p-2">
    <div class="col-12">
        <h4 class="text-center">Create or Edit your local password</h4>
        <div class="form">
            <!--form group-->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input id="password" class="form-control" placeholder="Enter new password" type="password" />
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input id="password-confirmation" class="form-control" placeholder="Confirm new password"
                    type="password" />
            </div>
            <!--form group-->
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block" id="add">
                    Save Changes
                </button>
            </div>
        </div>
    </div>
</div>