<div class="row p-2">
    <div class="col-12">
        <h4 class="text-center">Add a payment method</h4>
        <form>
            <!--form group-->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input id="credit-card" name="" placeholder="credit card number" class="form-control" value=''
                    type="text" />
            </div>
            <!--form group-->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input id="experitaion-date" name="" placeholder="expiration date" class="form-control" value=''
                    type="date" />
            </div>
            <!--form group-->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-envelope"></i>
                    </span>
                </div>
                <input id="scv" name="" class="form-control" value="" placeholder="scv" type="text" />
            </div>

            <h4 class="text-center">Billing address </h4>
            <div class="form-check text-center">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Same as personal
                </label>
            </div>
            <!--form group-->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-map-marked-alt"></i>
                    </span>
                </div>
                <input id="bill-address" name="" class="form-control" placeholder="Address" type="text" />
            </div>
            <!--form group-->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                </div>
                <input id="bill-zip-code" name="" class="form-control" placeholder="Zip code" type="text" />
            </div>
            <!--form group-->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-map-marker-alt"></i></span>
                </div>
                <input id="bill-city" cityname="" class="form-control" placeholder="City" type="text" />
            </div>
            <!--form group-->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                </div>
                <input id="bill-state" name="" class="form-control" placeholder="State" type="text" />
            </div>
            <!--form group-->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" id="bill-add">
                    Save Changes
                </button>
            </div>
        </form>
    </div>

</div>