<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand" href="/"> <img src="./assets/images/fnficon.jpg"></a>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-5">
            <a class="nav-link text-white login-customer" href="#">
                Sign In
            </a>
        </li>
        <li class="nav-item mr-5">
            <h3>Or</h3>
        </li>
        <li class="nav-item mr-5">
            <a class="nav-link text-white create-account" href="#">
                Create an account
            </a>
        </li>
    </ul>
    <div class="col-1"></div>
</nav>