<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand" href="/"> <img src="./assets/images/fnficon.jpg"></a>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-5">
            <a class="nav-link text-white" href="#" id="login-customer">
                Sign In
            </a>
        </li>
        <li class="nav-item border">
            <a class="nav-link text-white" href="/auth/google">
                SignUp with <img class="img-fluid" src="assets/images/googleg.png">oogle
            </a>
        </li>
    </ul>
    <div class="col-1"></div>
</nav>