<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand" href="/dashboard"> <img src="./assets/images/fnficon.jpg"
            style="line-height: 55px; height: 55px;"></a>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/customer-account">Profile</a>
                <a class="dropdown-item" href="#"></a>
                <a class="dropdown-item" id="logout-customer" href="#">Logout</a>
            </div>
        </li>

    </ul>
    <div class="col-1"></div>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script>
    $("#logout-customer").on("click", function (event) {
        $.get("/api/logout", (res) => {
            console.log(res);
            window.location.href = "/";
        });
    });
</script>