<div class="container-flex">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <!--Navbar-->
        <a class="navbar-brand" href="/"> <img src="./assets/images/fnficon.jpg" alt=""></a>
    </nav>

    <!--end Navbar-->

    <div class="row">
        <div class="col-4" id="aside-image-customer"></div>
        <!--Register form-->
        <article class="card-body mx-auto" style="max-width: 800px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">Get started with your customer account</p>
            <form>
                <!--form group-->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input id="first-name" name="" class="form-control" placeholder="First name" type="text" />
                </div>
                <!--form group-->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input id="last-name" name="" class="form-control" placeholder="Last name" type="text" />
                </div>
                <!--form group-->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                    <input id="email" name="" class="form-control" placeholder="Email address" type="email" />
                </div>
                <!--form group-->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                    <input name="" class="form-control" placeholder="Repeat Email address" type="email"
                        id="email-comprobation" />
                </div>
                <!--form group-->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input id="password" class="form-control" placeholder="Create password" type="password" />
                </div>
                <!--form group-->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Repeat password" type="password"
                        id="password-comprobation" />
                </div>
                <!--form group-->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-phone"></i>
                        </span>
                    </div>
                    <input id="phone-number" name="" class="form-control" placeholder="Phone number" type="text" />
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-phone"></i>
                        </span>
                    </div>
                    <input id="phone-number-other" name="" class="form-control" placeholder="Second Phone number"
                        type="text" />
                </div>
                <!--form group-->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-map-marked-alt"></i>
                        </span>
                    </div>
                    <input id="address" name="" class="form-control" placeholder="Address" type="text" />
                </div>
                <!--form group-->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-map-marker-alt"></i>
                        </span>
                    </div>
                    <input id="zip-code" name="" class="form-control" placeholder="Zip code" type="text" />
                </div>
                <!--form group-->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-map-marker-alt"></i></span>
                    </div>
                    <input id="city" cityname="" class="form-control" placeholder="City" type="text" />
                </div>
                <!--form group-->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-map-marker-alt"></i>
                        </span>
                    </div>
                    <input id="state" name="" class="form-control" placeholder="State" type="text" />
                </div>
                <!--form group-->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" id="add">
                        Create Account
                    </button>
                </div>
                <!--form group-->
                <p class="text-center">Have an account? <a href="">Log In</a></p>
            </form>
        </article>
    </div>
</div>
<!--modal for validation-->
<div class="modal fade bd-example-modal-lg" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle">Field Validation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1 id="modal-error"></h1>
            </div>
            <div class="modal-footer">
                <!-- Camera trigger -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    OK
                </button>

            </div>
        </div>
    </div>
    <script src="./assets/js/customerRegister.js"></script>