<section class="container-flex">
    {{> menu/initial-menu}}
    <section id="landing">
        <div class="header">
            <p id="title-1">
                pick and put in your basket and have it ready for pick up or deliver!
            </p>
            <p id="main-title">Fast & Fresh</p>
            <p id="title-2">from the farm to your table</p>
        </div>
        <div class="card-group info-section mx-auto">
            <div class="flip-card">
                <div class="card flip-card-inner">
                    <div class="card-body flip-card-front" id="info-1">
                        <h3>set your stall</h3>
                    </div>
                    <div class="card-body flip-card-back">
                        <h4 class="card-text">
                            If your are a local producer or goods like produce, diary, crafts, or delicious homemade
                            food
                            and
                            would like to
                            market them online for the day you are open on a Farmers Market. Here is the place to create
                            your
                            online stall!
                        </h4>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="card flip-card-inner">
                    <div class="card-body flip-card-front" id="info-2">
                        <ul type="none">
                            <li>
                                <h3>Create Your Account</h3>
                            </li>
                            <li>
                                <h3> Become a Shopper fill baskets for pick up</h3>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body flip-card-back">
                        <h4>
                            If you want to make extra money, come to a Farmers Market and get online orders ready, for
                            locals to
                            just
                            grab
                            their basket of fresh products!
                        </h4>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="card flip-card-inner">
                    <div class="card-body flip-card-front" id="info-3">
                        <ul type="none">
                            <li>
                                <h3>SignUp</h3>
                            </li>
                            <li>
                                <h3>Shop Fresh</h3>
                            </li>

                            <li>
                                <h3>Local Products</h3>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body flip-card-back">
                        <h4>
                            Consume resh local products, and have them ready for you, just to pick up. Order online and
                            save
                            time
                            shopping at local Farmer Markets Places in your city or town.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!--modal for loggin-->
    {{>login/loggin}}

</section>