{{> menu/initial-menu}}
<section id="landing">
    <div class="header">
        <p id="title-1">
            pick and put in your basket and have it ready for pick up or deliver!
        </p>
        <p id="main-title">Fast & Fresh</p>
        <p id="title-2">from the farm to your table</p>
    </div>
    <div class="info-section row mx-auto">
        <div class="flip-card">
            <div class="card flip-card-inner">
                <div class="card-body flip-card-front row" id="info-1">
                    <h3 class="col-12">set your stall</h3>
                </div>
                <div class="card-body flip-card-back">
                    <h4>
                        If your are a local producer or goods like produce, diary, crafts, or delicious homemade food
                        and
                        would like to
                        market them online for the day you are open on a Farmers Market. Here is the place to create
                        your
                        online stall!
                    </h4>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="card flip-card-inner">
                <div class="card-body flip-card-front row" id="info-2">
                    <h3 class="col-12">Create Your Account</h3>
                    <h3 class="col-12"> Become a Shopper Fill baskets for pick up</h3>
                </div>
                <div class="card-body flip-card-back">
                    <h4>
                        If you want to make extra money, come to a Farmers Market and get online orders ready, for
                        locals to
                        just
                        grab
                        their basket of fresh products!
                    </h4>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="card flip-card-inner">
                <div class="card-body flip-card-front row" id="info-3">
                    <h3 class="col-12">SignUp</h3>
                    <h3 class="col-12">Shop Fresh</h3>
                    <h3 class="col-12">Local Products</h3>

                </div>
                <div class="card-body flip-card-back">
                    <h4>
                        Consume resh local products, and have them ready for you, just to pick up. Order online and save
                        time
                        shopping at local Farmer Markets Places in your city or town.
                    </h4>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--modal for loggin-->
{{>login/loggin}}