<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <!--Navbar-->
    <a class="navbar-brand" href="/"> <img src="./assets/images/fnficon.jpg" alt=""></a>
    <div class="search-container">
        <form>
            <input type="text" placeholder="Find and add a Market" id="zip-market" name="zip-market">
            <button id="search-market" type="submit"><i class="fas fa-search"></i></button><br>
        </form>
    </div>
</nav>