{{>menu/loggedmenu}}
<div class="container mt-5">
    <div class="card-group">
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">

            </div>
        </div>
        <div class="card">
            <div class="card-header bg-dark">
                <h4 class="card-title mt-3 text-center">Create Your Store</h4>

            </div>
            <div class="card-body">
                {{>store/store}}
            </div>

        </div>
    </div>

</div>