<!-- Modal for Markets-->
<div class="modal fade bd-example-modal-lg" id="Modal-markets" tabindex="-1" role="dialog" aria-labelledby="ModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="ModalTitle">Select Favorite Market</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <!-- Camera -->
                    <main id="modal-markets">
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Address</th>
                                            <th scope="col">Schedule</th>
                                            <th scope="col">Products</th>
                                            <th scope="col">Add to Favorites</th>
                                        </tr>
                                    </thead>
                                    <tbody id="market-table">
                                    </tbody>

                                </table>
                            </div>
                    </main>
                </div>
            </div>
            <div class="modal-footer">
                <!-- Camera trigger -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Form</button>
            </div>
        </div>
    </div>
</div>