<div class="row p-2">
    <div class="col-12">
        <p class="text-center">Get started with your store account</p>
        <form>
            <!--form group-->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
                <input id="name" name="" class="form-control" placeholder="Full Name/Bussiness Name" type="text" />
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-carrot"></i>
                    </span>
                </div>
                <select class="form-control" id="category">
                    <option value="">
                        Category of the products tha will provide</option>
                    <option value="Fresh Fruits and Vegetables">Fresh Fruits and Vegetables</option>
                    <option value="Fresh Animal Products">Fresh Animal Products</option>
                    <option value="Preserved or Durable Produce">Preserved or Durable Produce</option>
                    <option value="Prepare Foods">Prepare Foods</option>
                    <option value="Inedible Products">Inedible Products</option>
                    <option value="Homemade Food Products">Homemade Food Products</option>
                </select>
            </div>
            <!--form group-->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-adn"></i>
                    </span>
                </div>
                <textarea id="brand" name="" class="form-control" placeholder="Bussines Ad" type="text"
                    rows="3"></textarea>
            </div>
            <!--form group-->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-phone"></i>
                    </span>
                </div>
                <input id="phone-number" name="" class="form-control" placeholder="Phone number" type="text" />
            </div>
            <!--form group-->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-map-marked-alt"></i>
                    </span>
                </div>
                <input id="address" name="" class="form-control" placeholder="Address" type="text" />
            </div>
            <!--form group-->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                </div>
                <input id="zip-code" name="" class="form-control" placeholder="Zip code" type="text" />
            </div>
            <!--form group-->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-map-marker-alt"></i></span>
                </div>
                <input id="city" name="" class="form-control" placeholder="City" type="text" />
            </div>
            <!--form group-->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                </div>
                <input id="state" name="" class="form-control" placeholder="State" type="text" />
            </div>
            <!--form group-->
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block" id="add">
                    Save Changes
                </button>
            </div>
        </form>
    </div>
</div>