<!-- Modal for login-->
<div class="modal fade bd-example-modal-lg" id="Modal-login" tabindex="-1" role="dialog" aria-labelledby="ModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h1 class="modal-title" id="ModalTitle"><i class="fa fa-user" aria-hidden="true"></i> Login</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body fnf-bg-green">
                <div class="containers">
                    <main id="modal-login">
                        <div class="row">
                            <div class="col-12">
                                <form id="login-form">
                                    <div class="form-group">
                                        <label for="login-email">Please enter your email</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                            </div>
                                            <input type="email" class="form-control" id="login-email" name="login-email"
                                                placeholder="email@domain.com" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="login-password">Please enter your password</label>
                                        <div class="input-group">

                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                            </div>
                                            <input type="password" class="form-control" id="login-password"
                                                name="login-password" placeholder="enter password" required>
                                        </div>
                                    </div>
                                    <button class="btn btn-success form-control" id="login-button" type="submit">Sign
                                        in here</button>

                                    <p class="text-center"> Or <a class="create-account" href="#">
                                            Create Account
                                        </a></p>

                                </form>
                            </div>
                    </main>

                </div>
            </div>
            <div class="modal-footer fnf-bg-green">
                <a class="btn btn-dark form-control" href="/auth/google">
                    SignIn with <img class="img-fluid" src="assets/images/googleg.png">oogle
                </a>
            </div>
        </div>
    </div>
</div>